@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins&family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(3, 3, 3, 1)
}

a {
    text-decoration: none;
    color: rgba(3, 3, 3, 1);
}

.colorblue {
    color: rgba(0, 35, 91, 1);
}

/*////*/
.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    /* height: 43px; */
    margin: 0 auto;
    /* font-size: 14px; */
    /* line-height: 1; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu {
    z-index: 10000;
    min-width: 5rem;
}

.navigation {
    top: 50%;
    position: absolute;
    width: calc(100% - 2%);
}



.navbar-light.scrolled.sticky-top {
    box-shadow: 5px 5px 5px rgb(102 99 99 / 22%)
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    position: relative;
    color: rgba(0, 35, 91, 1) !important;

}

.navbar-light .navbar-nav .nav-link {
    color: #9A9A9A;
    font-size: 16px;
}

.navbar-light .btn-outline-primary {
    border-color: rgba(0, 35, 91, 1);
    color: rgba(0, 35, 91, 1);
}

.navbar-light .btn-outline-primary:hover {
    background-color: rgba(0, 35, 91, 1);
    color: white;
}


.navbar-light .navbar-nav .nav-link.active::before {
    content: '';
    position: absolute;

    height: 2px;
    background: rgba(0, 35, 91, 1);
    ;
    bottom: 0;
}

.hero {
    margin-top: 7rem;
    position: relative;
}

.hero .overtext {


    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;

}

.hero .svgbg {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.hero .link {
    color: #00235B;
    font-size: 14px;
    margin: 0 20px;
}

.hero h1 {
    color: #00235B;
    padding-right: 18px;

    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1.846px;
    text-transform: capitalize;
}

.hero h6 {
    color: #3A3846;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
}


.testimonials h3,
.projects h3,
.servers h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.servers .pservers {
    font-size: 20px;
    line-height: 23px;

}

.servers .card {
    border-color: rgba(230, 239, 239, 1);
    height: 100%;
}

.servers .card h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: rgba(51, 51, 51, 1);
}

.servers .card p {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: rgba(25, 29, 35, 1)
}


.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
    width: 48px !important;
    height: 48px !important;
    border-radius: 50% !important;
    background: rgba(0, 35, 91, 1) !important;
    color: white;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    width: 48px !important;
    height: 48px !important;
    border-radius: 50% !important;
    background: rgba(230, 239, 239, 1) !important;
    color: rgba(0, 35, 91, 1) !important;
    opacity: 100% !important;
}

/* .mySwiper {
    padding: 0 55px;
} */

/* .mySwiper2 {
    padding: 0 100px;
} */

.testimonials,
.projects {
    margin-top: 100px;
}

.projects .card {
    height: 100%;
    padding: 16px 12px;
    border-color: #D8F8FC;
}

.projects .card svg {
    width: 68px;
    height: 66px;
}

.projects .container-fluid {
    position: relative;
}

.projects .svgimag {
    position: absolute;
}

.projects .svgimag2 {
    position: absolute;
    right: 0;
    z-index: 2;
    text-align: right;
}

.projects .svgimag3 {
    right: 0;
    bottom: -100;
    z-index: 1;
    text-align: end;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px;
}


.swiper-button-prev svg {
    width: 15px !important;
}


.accordionsection {
    margin-top: 135px !important;
}

.accordionsection .imgdiv {
    position: relative;
    z-index: 1;
}

.accordionsection .imgdiv .img3 {
    position: relative;
    z-index: 1;
}

.accordionsection .imgdiv .img1 {
    position: absolute;
    left: -27%;
    top: 0;
    z-index: 0;
}

.accordionsection .imgdiv .img2 {
    position: absolute;
    top: 0;
    z-index: 0;

}

.accordionsection .bg {
    padding: 32px 0;
}

.accordionsection .svgimag {
    position: absolute;

}

.accordionsection h4 {
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -0.96px;
}

.accordionsection .bg {
    border-radius: 16px;
    background: var(--gray-50, #F9FAFB);
}

.btn-primary:hover,
.btn-primary,
.accordionsection .bg .btn-primary {
    background: #00235B;
    border: 1px solid #00235B;
}




/* .accordion-item::after {
    content: '';
    height: 2px;
    width: 80%;
    left: 9%;
    background-color: rgba(0, 0, 0, .125);
    position: absolute;
    bottom: 0;
} */

.accordion-item {
    border: 0;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 0px;
}

.accordion-item .accordion-body {
    color: #667085;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.accordion-button::after {
    background-image: url(../images/images-removebg-preview.png);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/659892-removebg-preview.png);
    /* transform: rotate(180deg); */
}

.accordion-button:not(.collapsed) {
    color: #6A6A6A;
    background-color: transparent;
    box-shadow: 0px 0px 0px;
    border-bottom: 0;
}

.accordion-button:focus {
    box-shadow: 0px 0 0px 0px;
}



.mySwiper3 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 398px;
    opacity: 75%;
    margin-left: 7px;
    ;
}

.mySwiper3 .swiper-slide.swiper-slide-active {
    opacity: 100%;
}



.testimonials .card svg path {
    fill: #FFA033;
}

.testimonials .card-img-top {
    width: auto;
}

.testimonials .card-body-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: #000000;
}

.testimonials .card-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.8px;
    color: #000000;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none
}




footer .pfooter {
    font-family: 'Poppins', sans-serif;
    color: #6c757d;
    font-size: 16px;
}

footer h5 {
    color: #94A3B8;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

footer ul li a {
    color: #090914;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
}

.footerbottom .list-unstyled li {
    display: flex;
    background: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.footerbottom .list-unstyled li svg path {
    fill: white;
}



.arindex .accordion-button::after {
    margin-right: auto;
    margin-left: 0;
}

.arindex footer ul {
    padding: 0;
}

.arindex .projects .svgimag2 {
    left: 0;
    right: auto;
    text-align: left;
}


.arindex .projects .svgimag3 {
    text-align: start;

}

.arindex .projects .svggimg {
    text-align: end;
    transform: rotate(180deg);
}


@media screen and (min-width: 992px) {
    .arindex .testimonials .swiper-button-prev {
        left: 247px !important;
    }

    .arindex .testimonials .swiper-button-next {
        right: 214px !important;
    }

    .mySwiper {
        width: 52rem;
        ;
    }

    .accordionsection h4 {
        font-size: 48px;
    }

    .navbar-light {
        height: 63px;
    }

    .hero h1 {
        font-size: 52px;
    }

    .navbar-light .navbar-nav .nav-link.active::before {
        width: 75%;
    }

    .navbar-light.fixed-top {
        top: 49px;
    }

    .accordionsection .imgdiv .img2 {
        right: -54%;
    }

    .mySwiper3 .swiper-button-prev {
        left: 216px !important;
    }

    .mySwiper3 .swiper-button-next {
        right: 210px !important;
    }

    .mySwiper2 {
        width: 53rem;
    }

    .arindex .swiper-button-next {
        right: 0px !important;
    }


    .arindex .mySwiper3 .swiper-button-prev {
        right: 195px;
        left: 0;
    }

    .arindex .mySwiper3 .swiper-button-next {
        right: 646px !important;
    }

    .testimonials .swiper-button-next {
        right: 222px !important;
    }

    .testimonials .swiper-button-prev {
        left: 229px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .mySwiper {
        width: 37rem;
    }

    .hero h1 {
        font-size: 52px;
    }

    .navbar-light .navbar-nav .nav-link.active::before {
        width: 7%;
    }

    .navbar-light.fixed-top {
        top: 49px;
    }

    .projects .card {
        padding: 16px 25px !important;
    }



    .accordionsection .imgdiv .img2 {

        right: -3% !important;

    }

    .accordionsection .imgdiv .img1 {
        left: -7%;
    }

    .accordionsection h4 {
        font-size: 37px;
    }

    .mySwiper3 .swiper-button-prev {
        left: 97px !important;
    }

    .mySwiper3 .swiper-button-next {
        right: 91px !important;
    }

    .arindex .mySwiper {
        width: 91%;
    }

    .arindex .mySwiper3 .swiper-button-next {
        right: 534px !important;
    }

    .arindex .mySwiper3 .swiper-button-prev {
        right: 80px;
        left: 0 !important;
    }

    .testimonials .swiper-button-prev {
        left: 110px !important;
    }

    .testimonials .swiper-button-next {
        right: 97px !important;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 12px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 37px !important;
        height: 37px !important;
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
        width: 37px !important;
        height: 37px !important;
    }

    .arindex .testimonials .swiper-button-prev {
        left: 131px !important;
    }
}

@media screen and (max-width: 767px) {


    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 13px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 37px !important;
        height: 37px !important;
    }

    .hero h1 {
        margin-top: 38px;
        font-size: 38px;
    }

    .navbar-light .navbar-nav .nav-link.active::before {
        width: 17%;
    }

    .navbar-light.fixed-top {
        top: 53px;
    }




    .accordionsection .imgdiv .img2 {

        right: -31px !important;

    }

    .accordionsection h4 {
        font-size: 32px;
    }

    .mySwiper3 .swiper-button-prev {
        left: 0px !important;
    }

    .mySwiper3 .swiper-button-next {
        right: 0px !important;
    }

    .projects .svgimag2 {
        right: 25px !important;
    }



    .arindex .mySwiper {
        width: 91%;
    }

    .mySwiper {
        width: 85%;
    }

    .swiper-button-next {
        right: -15px !important;
    }

    .swiper-button-prev {
        left: -19px !important;
    }

    .navigation {
        width: calc(100% - 4%) !important;
    }

    .arindex .mySwiper2 .swiper-button-prev {
        left: 4px !important;
    }

    .arindex .mySwiper2 .swiper-button-next {
        right: 3px !important;
    }

    .arindex .mySwiper3 .swiper-button-prev {
        right: 0px !important;
    }

    .arindex .mySwiper3 .swiper-button-next {
        right: 434px !important;
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
        width: 37px !important;
        height: 37px !important;
    }

    .arindex .testimonials .swiper-button-prev {
        left: 0px !important;
    }
}


@media screen and (max-width: 570px) {
    .mySwiper {
        width: 68%;
    }

    .swiper-button-next {
        right: 27px !important;
    }

    .swiper-button-prev {
        left: 19px !important;
    }

    .arindex .mySwiper {
        width: 59%;
    }

    .arindex .mySwiper3 .swiper-button-next {
        right: 393px !important;
    }

    .arindex .testimonials .swiper-button-prev {
        left: 0px !important;
    }

    .swiper-button-next {
        right: 10px !important;
    }
}





@media (min-width: 1200px) {
    .arindex .swiper-button-next {
        right: auto !important;
    }


    .arindex .testimonials .swiper-button-next {
        right: 279px !important;
    }

    .arindex .testimonials .swiper-button-prev {
        left: 316px !important;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1105px;
    }

    .accordionsection .imgdiv .img2 {

        right: -37%;

    }

    .mySwiper3 .swiper-button-prev {
        left: 285px !important;
    }

    .mySwiper3 .swiper-button-next {
        right: 275px !important;
    }

    .arindex .mySwiper3 .swiper-button-next {
        right: auto;
        right: 727px !important;
    }

    .arindex .mySwiper3 .swiper-button-prev {
        right: 267px !important;
    }

    .mySwiper {
        width: 60rem;
    }

    .mySwiper2 {
        width: 55rem;
    }

    .testimonials .swiper-button-prev {
        left: 301px !important;
    }

    .testimonials .swiper-button-next {
        right: 294px !important;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1320px !important;
    }

    .mySwiper3 .swiper-button-prev {
        left: 394px !important;
    }

    .mySwiper3 .swiper-button-next {
        right: 383px !important;
    }

    .testimonials .swiper-button-next {
        right: 401px !important;
    }

    .testimonials .swiper-button-prev {
        left: 411px !important;
    }

    .arindex .testimonials .swiper-button-prev {
        left: 425px !important;
    }

    .arindex .testimonials .swiper-button-next {
        right: 392px !important;
    }
}